<app-error-div [errors]="errors"></app-error-div>

@if (consoleConfig())
{
@for (session of consoleSessions(); track session) {
<cf-console [autoConnect]="false" [config]="consoleConfig()!" [networkConfig]="consoleNetworkConfig()"
    [vmPowerState]="vmPowerState()"
    [vmActivity]="vmActivity()"
    (networkDisconnectRequested)="handleNetworkDisconnectRequest($event)"
    (networkConnectionRequested)="handleNetworkConnectRequest($event)"
    (reconnectRequest)="handleReconnectRequest()"
    (connectionStatusChanged)="handleConnectionStatusChanged($event, session)"
    (connectFailed)="handleConnectFailed($event, session)"
    (powerOnRequested)="handlePowerOnRequested()"></cf-console>
}
}
@else
{
<div class="text-center">
    <app-spinner></app-spinner>
    <div>Loading your console...</div>
</div>
}
