
$nav-height: 64px;
$sidebar-width-in: 48px;
$sidebar-width-out: 400px;
$footer-height: 16px;
nav {
  height: $nav-height;
}
.sidebar {
  position: absolute;
  left: 0;
  width: 0;
  overflow: scroll;
  z-index: 10;
}
.sidebar-out {
  width: $sidebar-width-out !important;
}
.sidebar-in {
  width: $sidebar-width-in !important;
}
.sidebar-offset-out {
  left: $sidebar-width-out;
}
.sidebar-offset-in {
  left:  $sidebar-width-in;
}
.sidebar-header {
  top: $nav-height;
  height: $sidebar-width-in;
  cursor: pointer;
}
.sidebar-body {
  top: $nav-height;
  bottom: $sidebar-width-in + $footer-height;
}
.sidebar-footer {
  bottom: $footer-height;
  height: $sidebar-width-in;
  cursor: pointer;
}
main {
  position: absolute;
  left: 0;
  right: 0;
  top: $nav-height;
  bottom: $footer-height;
  overflow: scroll;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer-height;
}
