<form #form="ngForm" [ngFormOptions]="{updateOn: 'change'}" (ngSubmit)="update()">
  <input type="hidden" name="id" [ngModel]="template.globalId">
  <input type="hidden" name="name" [ngModel]="template.name">

  <div *ngIf="!linked" class="form-group bg-light">
    <label class="mb-0" for="hidden-toggle">Published</label>
    <div class="form-control auto-h d-flex align-items-center">
      <label>Hidden</label>
      <label class="btn text-info" btnCheckbox [ngModelOptions]="{updateOn: 'change'}" [(ngModel)]="template.isPublished" name="isPublished">
        <fa-icon *ngIf="!template.isPublished" [icon]="faToggleOff" size="lg"></fa-icon>
        <fa-icon *ngIf="template.isPublished" [icon]="faToggleOn" size="lg"></fa-icon>
      </label>
      <label>Visible</label>
    </div>
    <small>Published templates show in the "Add Template" list.</small>
  </div>

  <div class="form-group bg-light">
    <label for="description-input">Description</label>
    <textarea id="description-input" class="form-control" name="description" [(ngModel)]="template.description"
    placeholder="Description" maxlength="255"></textarea>
    <div class="d-flex">
      <div class="spacer"></div>
      <small class="text-right">{{(''+template.description).length}} / 255</small>
    </div>
  </div>

  <div class="form-group bg-light">
    <label for="networks-input">Networks</label>
    <input id="networks-input" class="form-control" name="networks" type="text" placeholder="Networks" [(ngModel)]="template.networks" maxlength="64">
    <div class="d-flex">
      <small>Space-delimited network names</small>
      <div class="spacer"></div>
      <small class="text-right">{{(''+template.networks).length}} / 64</small>
    </div>
  </div>

  <div class="form-group bg-light">
    <label for="guestinfo-input">Guest Settings</label>
    <textarea id="guestinfo-input" class="form-control" name="guestinfo"
      placeholder="Custom Settings" autocomplete="false" spellcheck="false"
      [(ngModel)]="template.guestinfo" maxlength="1024"></textarea>
    <div class="d-flex">
      <small>key = value (lines commented with # are ignored)</small>
      <div class="spacer"></div>
      <small class="text-right">{{(''+template.guestinfo).length}} / 1024</small>
    </div>
  </div>

  <div *ngIf="!linked" class="form-group bg-light">
    <label for="detail-input">Detail</label>
    <textarea id="detail-input" name="detail" class="form-control json" spellcheck="false" rows="20" placeholder="Detail" [(ngModel)]="template.detail"></textarea>
  </div>

  <div class="text-center">
    <button class="btn btn-secondary btn-sm" type="submit" [disabled]="!form.dirty || !form.valid">Save Settings</button>
  </div>

  <app-error-div [errors]="errors"></app-error-div>

</form>
