th {
  font-weight: normal;
}

.iso-filename {
  display: inline-block;
  max-width: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.workspace-cell {
  app-clipspan {
    display: inline-block;
    min-width: 200px;
  }
}
