
// pink for Observer role
.pop-pink {
    background-color: #f3edf7;
    border: #5b0094 solid 1px;
    border-radius: 0.25rem;
}

.text-pink {
    color: #5b0094;
}

.tm-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.sort-header {
  white-space: nowrap;
  gap: 0.25rem;
}

.sort-header fa-icon {
  display: inline-flex;
}
