name: CI

on:
  release:
    types: ["published"]

permissions:
  contents: write

jobs:
  build-and-publish:
    name: Build & Publish
    uses: cmu-sei/Crucible-Github-Actions/.github/workflows/docker-build.yaml@docker-v1.1
    with:
      imageName: cmusei/topomojo-ui
      tagName: ${{ github.event.release.tag_name }}

      versionMode: npm
      versionFiles: |-
        package.json

      buildArgs: |
        commit=${{ github.sha }}

      enableQemu: true
      preBuildCommands: |
        curl https://box.cmusei.dev/wmks-jam-v1.tar -s -o wmks.tar
        test -s wmks.tar

    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
